cmu-Client/src/wsdl/155.210.71.106_8080/cmu-Server/CMUService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws.servidor/" name="CMUService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws.servidor/" schemaLocation="http://155.210.71.106:8080/cmu-Server/CMUService?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumUsuario">
<part name="parameters" element="tns:getNumUsuario"/>
</message>
<message name="getNumUsuarioResponse">
<part name="parameters" element="tns:getNumUsuarioResponse"/>
</message>
<message name="getUsuarioLogin">
<part name="parameters" element="tns:getUsuarioLogin"/>
</message>
<message name="getUsuarioLoginResponse">
<part name="parameters" element="tns:getUsuarioLoginResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="editUsuarioResponse">
<part name="parameters" element="tns:editUsuarioResponse"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="removeUsuarioResponse">
<part name="parameters" element="tns:removeUsuarioResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addUsuario">
<part name="parameters" element="tns:addUsuario"/>
</message>
<message name="addUsuarioResponse">
<part name="parameters" element="tns:addUsuarioResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<portType name="CMUService">
<operation name="getNumUsuario">
<input wsam:Action="http://jaxws.servidor/CMUService/getNumUsuarioRequest" message="tns:getNumUsuario"/>
<output wsam:Action="http://jaxws.servidor/CMUService/getNumUsuarioResponse" message="tns:getNumUsuarioResponse"/>
</operation>
<operation name="getUsuarioLogin">
<input wsam:Action="http://jaxws.servidor/CMUService/getUsuarioLoginRequest" message="tns:getUsuarioLogin"/>
<output wsam:Action="http://jaxws.servidor/CMUService/getUsuarioLoginResponse" message="tns:getUsuarioLoginResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://jaxws.servidor/CMUService/editUsuarioRequest" message="tns:editUsuario"/>
<output wsam:Action="http://jaxws.servidor/CMUService/editUsuarioResponse" message="tns:editUsuarioResponse"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://jaxws.servidor/CMUService/removeUsuarioRequest" message="tns:removeUsuario"/>
<output wsam:Action="http://jaxws.servidor/CMUService/removeUsuarioResponse" message="tns:removeUsuarioResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://jaxws.servidor/CMUService/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://jaxws.servidor/CMUService/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://jaxws.servidor/CMUService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://jaxws.servidor/CMUService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addUsuario">
<input wsam:Action="http://jaxws.servidor/CMUService/addUsuarioRequest" message="tns:addUsuario"/>
<output wsam:Action="http://jaxws.servidor/CMUService/addUsuarioResponse" message="tns:addUsuarioResponse"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://jaxws.servidor/CMUService/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://jaxws.servidor/CMUService/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
</portType>
<binding name="CMUServicePortBinding" type="tns:CMUService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CMUService">
<port name="CMUServicePort" binding="tns:CMUServicePortBinding">
<soap:address location="http://155.210.71.106:8080/cmu-Server/CMUService"/>
</port>
</service>
</definitions>