cmu-Client/src/wsdl/155.210.71.106_8080/cmu-Server/CMUService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://jaxws.servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jaxws.servidor/">

<xs:element name="addUsuario" type="tns:addUsuario"/>

<xs:element name="addUsuarioResponse" type="tns:addUsuarioResponse"/>

<xs:element name="editUsuario" type="tns:editUsuario"/>

<xs:element name="editUsuarioResponse" type="tns:editUsuarioResponse"/>

<xs:element name="getNumUsuario" type="tns:getNumUsuario"/>

<xs:element name="getNumUsuarioResponse" type="tns:getNumUsuarioResponse"/>

<xs:element name="getUsuario" type="tns:getUsuario"/>

<xs:element name="getUsuarioLogin" type="tns:getUsuarioLogin"/>

<xs:element name="getUsuarioLoginResponse" type="tns:getUsuarioLoginResponse"/>

<xs:element name="getUsuarioResponse" type="tns:getUsuarioResponse"/>

<xs:element name="getUsuarios" type="tns:getUsuarios"/>

<xs:element name="getUsuariosResponse" type="tns:getUsuariosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="removeUsuario" type="tns:removeUsuario"/>

<xs:element name="removeUsuarioResponse" type="tns:removeUsuarioResponse"/>

<xs:complexType name="editUsuario">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="administrador" type="xs:boolean"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="planta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuario">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUsuario">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsuarioLogin">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarioLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNumUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuario">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuarioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>